<div class="jumbotron">
	<h1><small>Welcome to </small><span style="color:#FF008B">BibManage</span></h1> <br />
	<p>Bibmanage is an online application dedicated to managing collections of academic papers.  While BibManage serves as reference management software it's primary focus, in contrast to other products, is on managing collections of files and associating files with reference information.</p>
</div>
