<div class="panel panel-default" id="raw-bibtex-panel">
	<%= bootstrap_form_tag url: url_for(selection_library_raw_bibtex_entries_path(@library)), remote: true do |f| %>
	  <div class="panel-body">
  			<div class="container-fluid well">
	  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    					Show <span class="caret"></span></button>
	    				<ul class="dropdown-menu" role="menu">
	    					<li><a href="#" id="show-all">All</a></li>
	    					<li><a href="#" id="show-errors">Errors</a></li>
	    					<li><a href="#" id="show-warnings">Warnings</a></li>
	    					<li><a href="#" id="show-warnings-and-errors">Warnings & Errors</a></li>
	    				</ul>
	    			<input type="submit" name="action" value="Delete" class="btn btn-default" />
	    			<input type="submit" name="action" value="Import" class="btn btn-default" />
	    	</div>
					<div id="raw-bibtex-entries-controls" class="well well-sm">
			  		<div id="raw-bibtex-entries-paginator" class="vcenter col-md-9"></div><div class="col-md-3 vcenter select-container"><%= multiple_select_control %></div>
			  	</div>
	  	<table class="table table-hover table-condensed" id="raw-bibtex-entries-table">
			</table>
		</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-default navbar-btn" id="upload-bibtex">Upload Bibtex</button>
	</div>
	<% end %>
</div>

<%= render 'raw_bibtex_entries/file_upload' %>

<script>

var RawBibtexPage = 0;
var RawBibtexResultsController = new ResultsController(50);
var RawBibtexSelectController = new SelectController($('#raw-bibtex-panel'), RawBibtexResultsController);

var BibtexUploadProgressBar = null;
function RefreshRawBibtexPage() {
  url = "<%= url_for(library_raw_bibtex_entries_path(@library)) %>";
  url = addParameter(url, "page", RawBibtexPage);
  $.getScript(url);
}

</script>