<div class="panel panel-default" id="resources-panel">
	<div class="panel-body">
		<div class="container-fluid well well-sm">
			<div class="row">
				<div class="col-md-7 vcenter">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" id="show-assigned" data-search-submit="true" data-search-scope="assigned" data-search-arg="true">Assigned</a></li>
							<li><a href="#" id="show-unassigned" data-search-submit="true" data-search-scope="assigned" data-search-arg="false">Unassigned</a></li>
							<li><a href="#" id="show-unassigned" data-search-submit="true" data-search-scope="assigned" data-search-arg="false">Unassigned</a></li>

						</ul>
											<div class="input-group">
						<input type="text" class="form-control" id="raw-bibtex-content-search" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-search-submit="true" data-search-scope="contains" data-search-arg-ptr="raw-bibtex-content-search">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div>

			</div>
			<div class="col-md-4 vcenter">
			<div class="btn-group">
				<button type="button" data-form-remote="raw-bibtex-select-form" data-action="<%= delete_library_raw_bibtex_entries_path(@library) %>" class="btn btn-default navbar-btn" id="delete-selection">Delete</button>
				<button type="button" data-form-remote="raw-bibtex-select-form" data-action="<%= import_library_raw_bibtex_entries_path(@library) %>" class="btn btn-default navbar-btn" id="import-selection">Import</button>
			</div>
			</div>
		</div>
	</div>
	<form id="raw-bibtex-select-form" class="select-form" action="#">
		<ol class="breadcrumb search-breadcrumbs" id="raw-bibtex-search-notifications"></ol>
		<div id="raw-bibtex-entries-controls" class="well well-sm">
			<div id="raw-bibtex-entries-paginator" class="vcenter col-md-9"></div><div class="col-md-3 vcenter select-container"><%= multiple_select_control %></div>
		</div>

		<table class="table table-hover table-condensed" id="raw-bibtex-entries-table">
		</table>
	</form>
</div>
<div class="panel-footer">
	<button type="button" class="btn btn-default navbar-btn" id="upload-bibtex">Upload Bibtex</button>
</div>
</div>