<div class="modal" id="reference-form-modal"  role="dialog" aria-labelledby="reference-form-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="reference-form-container">

    </div>
  </div>
</div>

<div class="modal" id="new-field-modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Field Name</h4>
        </div>
        <form id="new-field-name-form">
        <div class="modal-body">
          <div id="invalid_field" class="alert alert-danger" role="alert" style="display: none">
            Invalid Field Name
          </div>
          <div class="form-group">
            <label for="new-field-name"><small>Only alphanumeric charachters, _ and -</small></label>
            <input type="text" class="form-control" id="new-field-name">
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" id="cancel-new-field">Cancel</a>
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
        </form>
      </div>
    </div>
</div>

<script>
$(document).ready(function() {
  $(document).on('nested:fieldAdded:fields', function(event) {
    var field, fieldset, label;
    fieldset = event.field;
    label = fieldset.find('.field_name_label').first();
    field = fieldset.find('.field_name').first();
    $('#new-field-modal').modal('show');
    $('#cancel-new-field').click(function(event) {
      $('#new-field-name').val('');
      $('#new-field-modal').modal('hide');
      fieldset.remove();
      $('#cancel-new-field').off();
      $('#new-field-name-form').off();
      event.preventDefault();
    });
    $('#new-field-name-form').submit(function(event) {
      var fieldname, regx;
      fieldname = $.trim($('#new-field-name').val());
      regx = /^[A-Za-z0-9_]+$/;
      if (!regx.test(fieldname)) {
        $('#invalid_field').show();
      } else {
        $('#invalid_field').hide();
        field.val(fieldname);
        label.text(fieldname);
        $('#cancel-new-field').off();
        $('#new-field-name-form').off();
        $('#new-field-name').val('');
        $('#new-field-modal').modal('hide');
      }
      event.preventDefault();
    });
  });
});

</script>