<div id="paginator">
</div>

<table class="table table-hover" id="reference-table">
  <thead>
    <tr>
      <th class="column column1">Key</th>
      <th class="column column2">Title</th>
      <th class="column column3">Type</th>
      <th class="column column4">Authors</th>
      <th class="column column5">Year</th>
      <th class="column column6">Links</th>
      <th class="column column7">Files</th>
    </tr>
  </thead>
  <tbody id="references">
  </tbody>
</table>
